<div class="center hero-unit">
<h2>About</h2>
<p>Mixeight is a simple project I'm working as a way to share music with friends.  I was sick of have songs in my email inbox, so I made this.  It's certainly a work in progress.</p>

<p>This site uses Rails, AWS s3, Bootstrap, and some other gems. </p>
</div>
